html {
  font: 15px/24px "Open Sans",Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  #color: #00529e;
  color: #003361;
}

.site-logo {
  display: block;
  width: 280px;
  height: auto;
  margin: 20px auto;
}

.content {
  margin: 40px 20px;
}